#cloud-config

# apt:
#   sources:
#     docker.list:
#       source: deb [arch=amd64] https://download.docker.com/linux/ubuntu $RELEASE stable
#       keyid: 9DC858229FC7DD38854AE2D88D81803C0EBFCD88
#     netdevops.list:
#       source: deb [trusted=yes] https://netdevops.fury.site/apt/ /

ansible:
  package_name: ansible-core
  install_method: distro
  pull:
    - url: https://github.com/rvivian/Modern-Network-Observability.git
      playbook_dir: /azure-lab/
      playbook_names: [bootstrap.yml]